div.highlight .hll { background-color: #FFFFCC;                             }
div.highlight .c   { color: #0099FF; font-style: italic;                    }
div.highlight .err { color: #AA0000; background-color: #FFAAAA;             }
div.highlight .k   { color: #006699; font-weight: bold;                     }
div.highlight .o   { color: #555555;                                        }
div.highlight .cm  { color: #0099FF; font-style: italic;                    }
div.highlight .cp  { color: #009999;                                        }
div.highlight .c1  { color: #0099FF; font-style: italic;                    }
div.highlight .cs  { color: #0099FF; font-weight: bold; font-style: italic; }
div.highlight .gd  { background-color: #FFCCCC; border: 1px solid #CC0000;  }
div.highlight .ge  { font-style: italic;                                    }
div.highlight .gr  { color: #FF0000;                                        }
div.highlight .gh  { color: #003300; font-weight: bold;                     }
div.highlight .gi  { background-color: #CCFFCC; border: 1px solid #00CC00;  }
div.highlight .go  { color: #AAAAAA;                                        }
div.highlight .gp  { color: #000099; font-weight: bold;                     }
div.highlight .gs  { font-weight: bold;                                     }
div.highlight .gu  { color: #003300; font-weight: bold;                     }
div.highlight .gt  { color: #99CC66;                                        }
div.highlight .kc  { color: #006699; font-weight: bold;                     }
div.highlight .kd  { color: #006699; font-weight: bold;                     }
div.highlight .kn  { color: #006699; font-weight: bold;                     }
div.highlight .kp  { color: #006699;                                        }
div.highlight .kr  { color: #006699; font-weight: bold;                     }
div.highlight .kt  { color: #007788; font-weight: bold;                     }
div.highlight .m   { color: #FF6600;                                        }
div.highlight .s   { color: #CC3300;                                        }
div.highlight .na  { color: #330099;                                        }
div.highlight .nb  { color: #336666;                                        }
div.highlight .nc  { color: #00AA88; font-weight: bold;                     }
div.highlight .no  { color: #336600;                                        }
div.highlight .nd  { color: #9999FF;                                        }
div.highlight .ni  { color: #999999; font-weight: bold;                     }
div.highlight .ne  { color: #CC0000; font-weight: bold;                     }
div.highlight .nf  { color: #CC00FF;                                        }
div.highlight .nl  { color: #9999FF;                                        }
div.highlight .nn  { color: #00CCFF; font-weight: bold;                     }
div.highlight .nt  { color: #330099; font-weight: bold;                     }
div.highlight .nv  { color: #003333;                                        }
div.highlight .ow  { color: #000000; font-weight: bold;                     }
div.highlight .w   { color: #bbbbbb;                                        }
div.highlight .mf  { color: #FF6600;                                        }
div.highlight .mh  { color: #FF6600;                                        }
div.highlight .mi  { color: #FF6600;                                        }
div.highlight .mo  { color: #FF6600;                                        }
div.highlight .sb  { color: #CC3300;                                        }
div.highlight .sc  { color: #CC3300;                                        }
div.highlight .sd  { color: #CC3300; font-style: italic;                    }
div.highlight .s2  { color: #CC3300;                                        }
div.highlight .se  { color: #CC3300; font-weight: bold;                     }
div.highlight .sh  { color: #CC3300;                                        }
div.highlight .si  { color: #AA0000;                                        }
div.highlight .sx  { color: #CC3300;                                        }
div.highlight .sr  { color: #33AAAA;                                        }
div.highlight .s1  { color: #CC3300;                                        }
div.highlight .ss  { color: #FFCC33;                                        }
div.highlight .bp  { color: #336666;                                        }
div.highlight .vc  { color: #003333;                                        }
div.highlight .vg  { color: #003333;                                        }
div.highlight .vi  { color: #003333;                                        }
div.highlight .il  { color: #FF6600;                                        }

/* Raw console output extension, use <pre class="console"></pre> */
pre.console { background-color: #111111; color: #EEEEEE ; }