---
layout: page_posts
title: My coder basement
permalink:  /posts/
---
<h1>Recent posts</h1>

<div class="smallpost" id="smallpost_opengl">
<h2><img src="/images/opengl.png" />OpenGL</h2>
<ul>
{% for post in site.categories.opengl limit: 5 %}
  <li>
    <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
    <span style="color: #AAAAAA; font-size:80%">{{ post.date | date_to_string }}</span>
  </li>
{% endfor %}
</ul>
  <p>
    <a href="/opengl">See all {{ site.categories.opengl | size }} articles &raquo;</a>
  </p>
</div>

<div class="smallpost" id="smallpost_cpp">
<h2><img src="/images/cpp.png" />C++ ({{ site.categories.cpp | size }})</h2>
{% for post in site.categories.cpp limit: 5 %}
  <p>
    <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
    <span style="color: #AAAAAA; font-size:80%">{{ post.date | date_to_string }}</span>
  </p>
{% endfor %}
  <p>
    <a href="/cpp">See all {{ site.categories.cpp | size }} articles &raquo;</a>
  </p>
</div>

<div class="smallpost" id="smallpost_tutorials">
<h2><img src="/images/tutorials.png" />Tutorials ({{ site.categories.tutorials | size }})</h2>
{% for post in site.categories.tutorials limit: 5 %}
  <p>
    <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
    <span style="color: #AAAAAA; font-size:80%">{{ post.date | date_to_string }}</span>
  </p>
{% endfor %}
  <p>
    <a href="/tutorials">See all {{ site.categories.tutorials | size }} articles &raquo;</a>
  </p>
</div>

<div class="smallpost" id="smallpost_news">
<h2><img src="/images/news.png" />News ({{ site.categories.news | size }})</h2>
{% for post in site.categories.news limit: 5 %}
  <p>
    <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
    <span style="color: #AAAAAA; font-size:80%">{{ post.date | date_to_string }}</span>
  </p>
{% endfor %}
  <p>
    <a href="/news">See all {{ site.categories.news | size }} articles &raquo;</a>
  </p>
</div>

<div style="clear: both"></div>