<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="description" content="Aurelien Vallee personal blog" />
    <meta name="keywords" content="cpp programming opengl" />
    <meta name="author" content="Aurélien Vallée" />
    <meta name="date"   content="Tuesday, November 16, 2010" />
    <title>My coder basement</title>
    <link rel="stylesheet" href="/css/classic.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css"  type="text/css" />
  </head>
  <body>
    <div id="header">
      <ul id="header_menu">
        <li class="header_menu_link" id="header_menu_link_home"    ><a href="/">Home</a></li>
        <li class="header_menu_link" id="header_menu_link_articles"><a href="/posts">Posts</a></li>
        <li class="header_menu_link" id="header_menu_link_projects"><a href="https://github.com/NewbiZ/repositories">Projects</a></li>
        <li class="header_menu_link" id="header_menu_link_snippets"><a href="https://gist.github.com/NewbiZ">Snippets</a></li>
        <li class="header_menu_link" id="header_menu_link_about"   ><a href="/about">About</a></li>
      </ul>
    </div>
    <div id="breadcrumbs">
      Home
      {{ if    page.url=="/about.html" then "> About"             }}
      {{ elsif page.url=="/posts.html" then "> Posts"             }}
      {{ else "> Posts > "+post.categories.join(' > ')+post.title }}
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer">
      <a href="http://creativecommons.org/licenses/by-sa/2.0/fr/deed.en" target="_blank">
        <img alt="Creative Commons Licence" src="/images/creative_commons.png" />
      </a>

      <a href="http://validator.w3.org/#validate_by_uri">
        <img alt="XHTML valid" src="/images/w3c_xhtml.png" />
      </a>

      <a href="http://jigsaw.w3.org/css-validator/#validate_by_uri">
        <img alt="CSS3 Valid" src="/images/w3c_css.png" />
      </a>

      <a href="http://www.apple.fr/">
        <img alt="Made on a mac" src="/images/made_on_a_mac.png" />
      </a>
    </div>
  </body>
</html>